@{
    ViewData["Title"] = "Home Page";
}

<div class="image-div">
    <img class="image-poster-joker" src="~/images/joker-poster.jpg" />
    <img class="image-poster-uncharted" src="~/images/uncharted-poster.jpg" />
</div>