@{
    ViewData["Title"] = "Home Page";
}


<div class="image-div">

    <img class="image-poster-avatar" src="~/images/avatar-poster.jpg" />
    <img class="image-poster-joker" src="~/images/joker-poster.jpg" />
    <img class="image-poster-uncharted" src="~/images/uncharted-poster.jpg" />
    <img class="image-poster-spider" src="~/images/spiderman-poster.jpg" />
    <img class="image-poster-bohemian" src="~/images/bohemian-poster.jpg" />


</div>
<div class="underline"></div>

<h2 class="Category-Header">Category Options</h2>
<div class="Category-Options">
    <ul class="Category-Options List">
        <li><a href="#" class="Fitness">Fitness</a></li>
        <li><a class="Entertainment" asp-area="" asp-controller="Entertainment" asp-action="Index">Entertainment</a></li>
        <li><a href="#" class="Education">Education</a></li>
    </ul>
</div>

<div>
    <h1 class="Index-Main-Header">Movie night with your family</h1>
</div>
<div class="family-div">
    <p class="family-div p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. sed do eiusmod tempor incididunt ut 
    </p>

    <img class="family-div image" src="~/images/Family-Popcorn.jpg" style="height:30vh" />
</div>


