@model IEnumerable<MovieModel>



<div>
    @foreach (var mov in Model)
    {
        var imageSource = "/images/Movies/" + mov.MovieName + ".jpg";
        <div class="M-List">
            <div>
                <img src="@imageSource" style="width:260px" />
            </div>
            <div class="M-Summary">

                <label>Title: @mov.MovieName</label>
                <p>@mov.MovieDescription</p>
            </div>
        </div>

    }

</div>