

.Movie-List{
    display:grid;
    grid-template-columns:repeat(3,1fr);

    margin-top:100px;
}

.btn-search{
    border:none;
    background-color:white;
}


.search-icon {
    height: 50px;
    width: 20px;
    border: none;
    margin-bottom: 7px;
    stroke: #3E3D3B;
}

.search-bar{
    border-top:none;
    border-left:none;
    border-right:none;

    font-size:24px;
    text-align:center;

    
} 

.frm-div{
    margin-top:50px;
}

.genre-div {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    font-family: 'DM Sans',sans-serif;
    font-size: 20px;
    color: #3E3D3B;
    text-align:center;

    margin-top:70px;
}

.arrow-down{
    height:30px;
    width:20px;
}

.genre{
    margin-right:100px;
}

.filter{
    margin-right:100px;
}

.hidden{
    display: none;
}

.modal-ul{
    list-style:none;
}

.genre-modal{
    position:absolute;
    top:50%;
    left:50%;

    width:25%;
    background-color:white;
    padding:6rem;
    border-radius:5px;
    box-shadow:0 3rem 5rem rgba(0,0,0,0.3);
    z-index:10;

   
}