/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*------------------------------------------------------------------Custom CSS---------------------------------------------------------*/


.image-div{
    display:flex;
    position:relative;
    justify-content:center;
    align-content:center;

    margin-top:50px;
}


.image-poster-joker {
    left: 40px;
    height: 43vh;
    margin-top: 33px;
}


.image-poster-bohemian {
    right: 60px;
    height: 41vh;
    margin-top: 43px;
}

.image-poster-spider {
    right: 220px;
    height: 43vh;
    margin-top: 33px;
}

.image-poster-uncharted {

    height: 50vh;
}

.image-poster-avatar {
    left: 60px;
    height: 41vh;
    margin-top: 43px;
}

/*----------------------------------------------------------------------------------------------------------------*/


.underline{
    border-bottom:1px solid black;
}

/*----------------------------------------------------------------------------------------------------------------*/

.M-List{
    display:flex;
    justify-content:start;
    align-content:center;

    margin-top:100px;
}

.M-Summary{
    margin-left: 25px;
}

/*----------------------------------------------------------------------------------------------------------------*/

.Index-Main-Header {
    display: inline-block;
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    color: #3E3D3B;
    margin-top: 140px;
    margin-bottom: 35px;
}

.family-div{
    display:flex;
    gap:130px;
}

.p{
    font-family: 'DM Sans', sans-serif;
    font-size:19px;
    color:#3E3D3B;
    line-height:1.5;
    width:50%;
    
}

.image{
    box-shadow:rgba(0,0,0,0.12) 8px 8px;
}

/*------------------------------------------------------------------------------------------------------------------*/


.Category-Options{
    display: flex;
    justify-content: space-evenly;
    align-content:center;
    
    margin-top:60px;
    gap:200px;
}

.List{
    list-style:none;
    font-family:'DM Sans',sans-serif;
}

.Fitness {
    border: 1.3px solid rgba(0,0,0,0.3);
    padding:20px 40px 20px 40px;
}

.Entertainment {
    border: 1.3px solid rgba(0,0,0,0.3);
    padding: 20px 40px 20px 40px;
}

.Education {
    border: 1.3px solid rgba(0,0,0,0.3);
    padding: 20px 40px 20px 40px;
}