@model MovieModel

<h2>Are you sure you want to Delete?</h2>
<form method="post">
    <div>
        <label>Title: @Model.MovieName</label>
    </div>
    <div>
        <p>@Model.MovieDescription</p>
    </div>
    <div>
        <label>Released Date: @Model.ReleasedDate</label>
    </div>
    <div>
        <label>Price: @Model.MoviePrice</label>
    </div>

    <button type="submit" class="btn btn-danger mt-3 p-1">Delete</button>
    <button class="btn btn-light mt-3 p-1" asp-area="" asp-controller="Operations" asp-action="Index">Cancel</button>
</form>